<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li class="header-button" id="sections-sidebar-btn">
				<!-- <i class="fa fa-bars"></i> -->
				<span>sections</span>
			</li>
			<li class="header-button" id="search-modal-btn">
				<!-- <i class="fa fa-search"></i> -->
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li class="header-button">Subscribe Now</li>
			<li class="header-button">Log In</li>
			<li id="gear">
				<i class="fa fa-cog"></i>
			</li>
		</ul>
	</nav>
</header>
