<section class="masthead">
  <ul class="language-nav">
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">JAVASCRIPT</a></li>
    <li><a href="#">RUBY</a></li>
  </ul>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="nada">

  <ul class="masthead-links">
    <li><a href="#">Tuesday, October 18, 2016</a></li>
    <li><a href="#">Today's Paper</a></li>
    <li><a href="#">Video</a></li>
    <li><a href="#">77°F</a></li>
    <li><a href="#">AAO +100%</a></li>
  </ul>
</section>
