// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.band-container {
  display: flex;
  justify-content: space-around;
  margin: 0 20%;
}

.band-box {
  height: 250px;
  width: 400px;
  border: 1px solid black;
}


.band-info {
  text-align: left;
  float: left;
}
