h1 {
  font-size: 4rem;
}

h2  {
  font-size: 3rem;
}

h3  {
  font-size: 2.5rem;
}

h1, h2 {
  font-family: 'Righteous', cursive;
}

body{
  font-family: 'Gentium Basic', serif;
  background-image: url(background.jpg);
  background-size: 100%;
  color: white;
  text-align: center;
}

input{
  font-family: 'Gentium Basic', serif;
  font-size: 2rem;
}

 a{
  color: #b7e6e8;

}
